.sign__button {
  padding: 14px 0 14px;
  margin: 70px 0 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background: #4285F4;
  border-radius: 3px;
  border: none;
}