.promo {
  background-color: #073042;
  width: 100%;
}

.promo__container {
  max-width: 1140px;
  width: 89%;
  margin: 0 auto 0;
  position: relative;
}

.promo__image {
  position: absolute;
  bottom: 60px;
  right: 0;
}

.promo__logo {
  float: left;
}

.promo__link {
  padding: 0;
  border: none;
  border-radius: 20px;
  background-color: #3DDC84;
  border-radius: 3px;
  padding: 8px 20px 8px 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
}

.promo__link:hover {
  cursor: pointer;
}

.promo__link_registration {
  padding-left: 0;
  padding-right: 0;
  background-color: #073042;
}

.promo__nav {
  display: flex;
  gap: 30px;
  float: right;
}

.promo__title {
  margin-top: 50px;
  padding-bottom: 406px;
  width: 650px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

@media screen and (max-width: 845px){
  .promo {
    width: 100%;
    padding: 18px 0 0;
    position: relative;
  }

  .promo__logo {
    padding-left: 30px;
  }

  .promo__nav {
    padding-right: 30px;
  }

  .promo__title {
    margin: 300px auto 0;
    text-align: center;
    padding-bottom: 140px;
  }

  .promo__image {
    position: static;
    width: 680px;
    margin: 0 auto 0;
    padding-bottom: 70px;
  }
}
