.account-button {
  padding: 8px 20px 8px 20px;
  border: none;
  border-radius: 20px;
  background-color: #313131;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}