.profile__button {
  border: none;
  margin-top: 220px;
  background-color: #202020;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.profile__button:hover {
  cursor: pointer;
}