.movies-card-list__more-button {
  background-color: #202020;
  border: 1px solid #424242;
  width: 320px;
  padding: 11px 0 9px;
  margin: 50px auto 80px;
  text-align: center;
  border-radius: 9px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  display: flex;
  align-self: center;
  justify-content: center;
}