.techs__names {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #303030;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
}