.sign {
  padding-top: 70px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: #202020;
  font-family: "Inter", sans-serif;
}

.sign__container {
  max-width: 396px;
  width: 100%;
  margin: auto;
  justify-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  border: none;
}

.sign__image {
  width: 38px;
  padding-bottom: 40px;
}

.sign__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.sign__description {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
}

.sign__input {
  margin: 0 0 29px;
  padding: 15px;
  background: #2F2F2F;
  border: none;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #CCCCCC;
}

.sign__button {
  padding: 14px 0 14px;
  margin: 70px 0 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background: #4285F4;
  border-radius: 3px;
  border: none;
}

.sign__bottom {
  padding-top: 16px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
}

.sign__link {
  text-decoration: none;
  color: #4285F4;
}