.techs {
    padding: 100px 0 100px 0;
    background: #272727;
  }

  .techs__container {
    margin: 0 auto 0;
    width: 89%;
    max-width: 1140px;
  }

  .techs__title {
    margin: 0;
    padding-top: 90px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #ffffff;
  }

  .techs__description {
    margin: 0;
    padding-top: 26px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #ffffff;
  }

  .techs__list {
    margin: 0 auto 0;
    width: 690px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 10px;
  }

  .techs__names {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #303030;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #ffffff;
  }