.promo__link {
  padding: 0;
  border: none;
  border-radius: 20px;
  background-color: #3DDC84;
  border-radius: 3px;
  padding: 8px 20px 8px 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.promo__link:hover {
  cursor: pointer;
}